<h1>{{question.title}}</h1>
<h1>{{question.body}}</h1>

{{#each question.answers}}
<li>
    {{this._id}}
    
    <form action="/questions/{{question._id}}/{{@index}}/edit" >
        <input type="submit" value="EDIT" />
    </form>
</li>
{{/each}}

<form action="/questions/{{question._id}}?_method=post" method="post">
    <label for="answer">Answer</label>
    <input type="text" id="answer" name="answer" placeholder="Answer here...">
    <input type="submit" value="Submit">
</form>